/* Apply styles to select elements */
.searchTerm {
    width: 100%;
    border: 3px solid #000;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: darkgreen;
    font-size: 20px;
  }
  
  /* Apply styles to option elements */
  .searchTerm option {
    background-color: #fff; /* Background color of options */
    color: darkgreen; /* Text color of options */
  }
  
  /* Apply styles to the submit button */
  .searchButton {
    width: 80px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Apply styles to the wrapper div */
  .wrap {
    width: 60%;
    position: relative;
    top: 20%;
    left: 20%;
  }
  
  /* Apply styles to the h1 heading */
  h1 {
    font-weight: bold;
    color: black;
    text-align: center;
  }
  
  /* Apply styles to the body */
  body {
    background-color: #ee5522;
    background-image: url("static\mushroom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
  }
  