body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: aquamarine;
  }
  
  .result {
    margin-top: 50px;
  }
  
  .result img {
    max-width: 400px; /* Adjust this value as needed */
    height: auto;
  }
  
  .outerbody {
    position: static;
    min-height: 100vh;
    max-width: 120vw;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  
  .innerbody {
    max-width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    min-height: 100vh;
    min-width: 94vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Added to allow wrapping */
  }
  
  .innerbody2 {
    background-color: rgb(104 60 14 / 70%);
    width: 250px; /* Adjust this value as needed */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #21002e;
    font-weight: bold;
    font-size: larger;
    border-radius: 30px;
  }
  
  .innerbody2 div {
    margin: 10px 0;
  }
  
  .innerbody2 .result {
    text-align: center;
  }
  
  .innerbody2 hr {
    width: 104%;
    border: 1px solid #21002e;
  }
  
  .innerbody2 .close a {
    border-radius: 8px;
    padding: 3px 10px;
    color: #88559d;
    background: #21002e;
    box-shadow: 4px 4px 8px #3b1649, -4px -4px 8px #65267b;
    outline: 0px solid #8b40a8;
    outline-offset: 0px;
    transition: all 0.3s 0.08s linear;
    text-decoration: none;
  }
  
  .innerbody2 .close a:hover {
    outline: 2px solid #21002e;
    outline-offset: 3px;
    background: #2e073d;
  }

  .edible-logo {
    width: 80px; /* Adjust width as needed */
    height: 80px; /* Adjust height as needed */
  }
  .poisonous-logo {
    width: 80px; /* Adjust width as needed */
    height: 80px; /* Adjust height as needed */
  }
    